@import "common/variables";

/** Import everything from autoload */
@import "./autoload/**/*";

/**
 * Import npm dependencies
 *
 * Prefix your imports with `~` to grab from node_modules/
 * @see https://github.com/webpack-contrib/sass-loader#imports
 */
// @import "~some-node-module";

/** Import theme styles */
@import "common/global";
@import "common/text";
@import "components/buttons";
@import "components/comments";
@import "components/forms";
@import "components/wp-classes";
@import "layouts/header";
@import "layouts/sidebar";
@import "layouts/footer";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/tinymce";

/** Fonts **/
@font-face {
  font-family: 'Playfair Display';
  src:
    url('../fonts/Playfair-Display/PlayfairDisplay-Regular.ttf'),
    url('../fonts/Playfair-Display/PlayfairDisplay-Italic.ttf'),
    url('../fonts/Playfair-Display/PlayfairDisplay-Bold.ttf'),
    url('../fonts/Playfair-Display/PlayfairDisplay-Black.ttf'),
    url('../fonts/Playfair-Display/PlayfairDisplay-BlackItalic.ttf'),
    url('../fonts/Playfair-Display/PlayfairDisplay-BoldItalic.ttf');
}

@font-face {
  font-family: 'Libre Baskerville';
  src:
    url('../fonts/Libre-Baskerville/LibreBaskerville-Regular.ttf'),
    url('../fonts/Libre-Baskerville/LibreBaskerville-Italic.ttf'),
    url('../fonts/Libre-Baskerville/LibreBaskerville-Bold.ttf');
}
