.sr-card {
  border-style: none;
  list-style: none;
  width: 100%;
  padding-left: 20px;
  margin-left: 0;

  /*
  transition: all 500ms ease-out;
  transform: translateY(50px);

  @media #{$media-tablet} {
    float: left;
  }
  */
  @media #{$media-tablet} {
    max-width: 50%;
  }

  :hover {
    color: inherit !important;
    text-decoration: none !important;
  }
}

.card-reveal,
.animations-disabled .card {
  opacity: 1;
  transform: translateY(0);
}

.card-wrapper {
  position: relative;
  display: block;
  overflow: hidden;
  margin-bottom: 20px;
  background-color: #ebebeb;
  color: #4a4a4a;
  text-decoration: none;
  touch-action: manipulation;
}

.card-preloader {
  position: absolute;
  margin-left: -7px;
  margin-top: -7px;
  top: 50%;
  left: 50%;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: $theme-primary;
  animation: pulse 1.2s infinite;
}

.card-image-wrapper {
  position: relative;
  overflow: hidden;
  display: block;
  width: 100%;
  height: 0;

  .card-image {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
  }
}

.card-date {
  color: #979797;
  display: block;
  margin-bottom: 15px;
  font-size: 1.2rem;
  letter-spacing: 1.7px;
  line-height: 1.66667;
  text-transform: uppercase;
}

.card-info {
  padding: 30px 20px;
  clear: both;
  background-color: #ebebeb;

  h3 {
    font-family: "Droid Serif", serif;
    color: #000;
    font-weight: 700;
  }

  @media #{$media-tablet} {
    padding: 40px;
  }
}

.card-title {
  margin: 5px 0;
}

.card-summary {
  margin-bottom: 20px;

  @media #{$media-phone} {
    font-size: 14px;
  }
}

.read-more {
  position: relative;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.25px;
  color: $theme-primary;
}

.icon-arrow-right {
  width: 7px;
  height: 7px;
  position: absolute;
  right: -17px;
  top: 50%;
  fill: #67cf7a;
  transform: translateY(-50%);
  transition: all 500ms ease-out;

  path {
    fill: inherit;
    stroke: inherit;
  }
}
