// Blog only

.sr-post {
  background-color: #fafafa;
  float: left;
  padding-left: 20px;
  position: relative;

  @media #{$media-tablet} {
    left: 8.33333%;
    width: 83.33333%;
  }

  @media #{$media-pc} {
    width: 75%;
  }

  p {
    font-family: 'Libre Baskerville', serif;
    font-size: 1.6rem;
    margin: 0 0 20px;
  }

  #{$headers} {
    font-family: 'Playfair Display', serif;
    color: #111;
    letter-spacing: inherit;
    text-transform: inherit;
    font-weight: 700;
    margin: 0 0 20px;
  }

  h1 {
    @media #{$media-tablet} {
      font-size: 6rem;
      line-height: 1.2;
    }
  }

  a {
    color: $theme-secondary !important;
    text-decoration: underline $theme-primary !important;
  }

  blockquote {
    font-weight: 700;
    border-left: 2px solid $theme-primary;
    margin: 0;
    padding-left: 20px;

    > p {
      font-size: 1.6rem;
    }
  }
}

article {
  zoom: 1;
  max-width: 980px;
  padding: 0 20px;
  margin: 0 auto;
}

.article-wrapper {
  position: relative;
  margin-left: -20px;
}

.article-header {
  &::before {
    content: '';
    display: block;
    width: 80px;
    height: 6px;
    margin: 0 0 20px;
    margin-bottom: 20px;
    background-color: #67cf7a;
    transition: width 0.5s ease-out;
  }
}

.article-title {
  line-height: 1.125;
  margin-top: 20px !important;
}

.article-date {
  color: #979797;
  font-size: 1.2rem;
  letter-spacing: 1.7px;
  line-height: 1.66667;
  text-transform: uppercase;
}

.sr-article {
  margin-bottom: 20px;

  :last-child {
    margin-bottom: 0;
  }

  #{$headers} {
    margin-top: 40px;
  }

  @media #{$media-tablet} {
    left: 8.3%;
    float: left;
  }
}
