$spring: #61d174;
$fall:   #74182f;
$summer: #ffe54c;
$winter: #62d7f9;

$theme-primary: $spring;
$theme-secondary: $fall;

$font-choice: "Droid Sans","HelveticaNeue","Helvetica Neue",sans-serif;
$font-size-sr: 62.5%;
$font-size: 1.6rem;
$font-color: #4a4a4a;

$spacing-gutter: 20px;

$media-pc:     "only screen and (min-width: 990px)";
$media-tablet: "only screen and (min-width: 750px)";
$media-phone:  "only screen and (max-width: 749px)";

// Element Selectors
$headers: "h1, h2, h3, h4, h5, h6";

$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;
