$spring: #61d174;
$fall: #74182f;

$theme-primary: $spring;
$theme-secondary: $fall;

$font-choice: "Droid Sans","HelveticaNeue","Helvetica Neue",sans-serif;
$font-size-sr: 62.5%;
$font-size: 1.6rem;
$font-color: #4a4a4a;

$spacing-gutter: 20px;
